@model int

@{
    int maxStars = 5;
    int filledStars = Model;
    int emptyStars = maxStars - filledStars;
}

<span title="Ocena: @Model / @maxStars">
    @for (int i = 0; i < filledStars; i++)
    {
        @Html.Raw("&#x2605;")
    }
    @for (int i = 0; i < emptyStars; i++)
    {
        @Html.Raw("&#x2606;")
    }
</span>
